.home-text {
font-size: 15px;
font-family: cursive;

}


canvas {
    background-color: black;
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;   
}
 
.white-details {
    color: white;
    justify-content: space-evenly;
    flex: wrap;
    word-wrap: break-word;
}

.body-particles{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  
}



body {
	padding-top: 3em;
}

.chrome {
    margin-top: 80px;
    /* gradient:(
        linear, left top, 
         right top, 
         from(#222), to(#222), 
    color-stop(0.5, #fff)) 0 0 no-repeat; */
    background-image:
     linear-gradient(-40deg,
      transparent 0%,
      transparent 40%,
      #fff 50%, 
      transparent 60%, 
      transparent 100%);
  
    color:
     rgba(255, 255, 255, 0.01);;
    background-clip:
     mytitleanimation;
    animation-name:
     shine;
    animation-duration: 
    10s;
    animation-iteration-count: 
    infinite;
    text-shadow:
     0 0px 0px rgba(255, 255, 255, 0.5);
}

@keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}




.chrome {
    text-align: center;
    font-family: 'Jura', sans-serif;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.welcome {
    font-size: 20px;
    font-family: cursive;
    position: absolute;
    right: 140px;
    top: 200px;
}

.welcomeButton {
    position: absolute;
    right: 40px;
    top: 200px;
    border-radius: 40px;
    background-color: black;
    color: silver;
}

.card {
    border: solid;
    shadow: 20px 20px 20px 20px black;
    position: relative;
    display: block;
    transition: 0.3s;
    border-radius: 20px; 
    height: 350px;
    width: 350px;
    display: inline-block;
    flex-wrap: wrap;
    top: 10px;
    bottom: 10px;
    padding: 10px;
    justify-content: space-evenly;
    background-image: url('../images/tree.jpg');
    border-image-outset: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 3px;
    word-break: break-all;
    word-wrap: break-word;
}

.card-container{
    box-shadow: 5px 5px 50px 5px silver;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    overflow-y: scroll;
    
}

.outercard {
    border-radius: 20px;
    background-image: url('../images/tree.jpg');
    position: relative;
    height: 700px;
    width: 620px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: space-evenly;
    flex: wrap;
}



.inputlog {
border-radius: 20px;
background-color: silver;
}

.reglog{
    border-radius: 20px;
    background-color: silver;

}

#submit-login {
    margin: 20px;    
}

#submit-register {
    margin: 20px;
}

img {
    margin-left: 10%;
}

.instructions h1 {
    font-size: 54px;
    font-weight: 700;
    
}

.instructions {
    /* background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); */
    /* background-repeat: no-repeat;  */
    /* background-position: center; */
    background:
     /* linear-gradient( to top right, 
    white,
    black,black,black,black,
    green, green,
    #348AC7,
    #7474BF,
    black,black,
    white
    ); */
    radial-gradient( 
        white,
        black,
        black,
        black,
        black,
        black,
        black
        ); 
    padding: 5px;
    color: skyblue;
    width: 100%;
    height: 240px;
    
}

tr:nth-child(even) {
    background: rgba(204, 204, 204, 0.384);
 }
 tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.185);
 }

.gold {
    text-align: center;
    font-family: cursive;
    color: gold;
    text-decoration: underline;

}

i {
    color: white;
    font-size: 40px;
}

.login-form {
background-image: url('../images/nebula.jpg');
text-align: center;
font-family: 'Jura';
color: white;
width: 500px;
border-radius: 40px;
}

.register-form  {
background-image: url('../images/tree.jpg');
text-align: center;
color: white;
font-family: 'Jura';
width: 500px;
border-radius: 40px;
}

img {
    text-align: center;   
}

form {
    background-color: #006366;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.locform {
    background-color: silver;
    height: 850px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 40px;

 
}

.bortle-scale-info {
    text-align: center;
    color: gold;
    
}


.NELM-info {
    text-align: center;
    color: silver;
}


TableHead {
    font-size: 70px;
}

.table-intro {
    font-style: italic;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    
}

InputLabel {
    color: white;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
    background-image: url("../images/starwatch2.jpg");
  /* background-color: #003366; */
  width: 100%;
  border-radius: 0px;
}

.link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: italic;
    
}

.details-card {
    height: 200px;
    width:400px;
    background-color: gray;
    margin-bottom: 400px;
    justify-content: wrap;
    flex: wrap;
}

.link a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}




/* Change the link color to #111 (black) on hover */
.link:hover {
    
    color: #eee;
}
.links:hover{
    font-size:20px;

}



Button {
    padding: 10px;
}






/* START PARTICLE STUFF HERE  */


body {
  margin: 0;
  font: normal 75% Arial, Helvetica,
    sans-serif;
}

canvas {
  display: block;

}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
  z-index: 3;



}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
