html {
    background-image: url('../images/tree.jpg');
    background-repeat: no-repeat; 
    background: linear-gradient( to bottom left,
    black,
    black,
        #348AC7,
        #348AC7,
        #348AC7,
        #7474BF,
        #7474BF
        ); 
}

.lead {
    text-align: center;
    color:white;
    font-family: 'Jura', sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.welcome {
    position: absolute;
    right: 40px;
    top: 20px;
}

.welcomeButton {
    position: absolute;
    right: 40px;
    top: 40px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    height: 400px;
    width: 400px;
    background-color: gray;
    display: inline-block;
    flex-wrap: wrap;
    margin: 10px;
}

.card-container{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;

}

.outercard {
    background-color: darkblue;
    height: 420px;
    width: 420px;
    margin-bottom: 40px;
    margin-right: 40px;
    text-align: center;
    justify-content: space-evenly;
}



/* .card:hover {    
    
    flex: wrap;
    justify-content: space-between;
    
} */

img {
    margin-left: 10%;
}

.instructions h1 {
    font-size: 54px;
    font-weight: 700;
}

.instructions {
    /* background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png"); */
    /* background-repeat: no-repeat;  */
    /* background-position: center; */
    background: linear-gradient( to top right,
     black,
    black,
    black,
    #348AC7,
    #7474BF,
    black,
    white
    );
    padding: 5px;
    color: skyblue;
    width: 100%;
    height: 240px;
    
}

tr:nth-child(even) {
    background: rgba(204, 204, 204, 0.384);
 }
 tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.185);
 }

.gold {
    text-align: center;
    font-family: cursive;
    color: gold;
    text-decoration: underline;

}

th:hover{
    font-size: 40px;
}


img {
    text-align: center;   
}

form {
    background-color: #006366;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.locform {
    background-color: silver;
    height: 850px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 40px;

 
}

.bortle-scale-info {
    text-align: center;
    
}


.NELM-info {
    text-align: center;
}


TableHead {
    font-size: 70px;
}

.table-intro {
    font-style: italic;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    
}

InputLabel {
    color: white;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
    background-image: url("../images/starwatch2.jpg");
  /* background-color: #003366; */
  width: 100%;
  border-radius: 0px;
}

.link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: italic;
    
}

p{
    color: purple;
    font-family: bold;

}


.link a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}




/* Change the link color to #111 (black) on hover */
.link:hover {
    
    color: #eee;
}
.links:hover{
    font-size:20px;

}

.card:hover {
    background-color: #A9A9A9;

}

Button {
    padding: 10px;
}