html {
    background-color: gray;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.instructions h1 {
    font-size: 34px;
    font-weight: 700;
    font-family: cursive;
}

.instructions {
    background-image: url("../images/tree.jpg");
    background-size: contain;
    background-repeat: norepeat;
    padding: 5px;
    color: skyblue;
    width: 100%;
    height: 170px;
    
}

h4 {
    text-align: center;
    font-family: cursive;
    color: gold;
    text-decoration: underline;

}

img {
    text-align: center;
    margin-left: 150%;
    
    
}

form {
    background-color: #003366;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.locform {
    background-color: silver;
    height: 850px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 40px;

 
}

.bortle-scale-info {
    text-align: center;
    
}


.NELM-info {
    text-align: center;
}


TableHead {
    font-size: 70px;
}

.table-intro {
    font-style: italic;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    
}

InputLabel {
    color: white;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #003366;
  width: 100%;
  border-radius: 0px;
}

.link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: italic;
    
}

p{
    color: white;

}


.link a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    height: 400px;
    width: 200px;
    background-color: gray;
    display: inline-block;
    margin: 10px;
}


/* Change the link color to #111 (black) on hover */
.link:hover {
    
    color: #eee;
}
.links:hover{
    font-size:20px;

}

.card:hover {
    background-color: #A9A9A9;

}

Button {
    padding: 10px;
}